#root {
  font-size: 62.5%;
}

li {
  list-style: none;
}

.header {
  align-self: center;
  justify-self: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
}
