@import "reset_defaults", "header";

.body {
  background-color: #f0ebe3;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.all-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;

  .card-desc {
    text-align: center;
    font-size: 1.6rem;
  }
}

.card-front,
.card-back {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.card-img {
  width: 90px;
}

.card-img-front {
  width: 60px;
}

.timer {
  align-self: center;
}

.start-button {
  align-self: center;
}
