@import "reset_defaults", "header";

.wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.all-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  .card-desc {
    text-align: center;
  }
}

.card-img {
  width: 120px;
}

.timer {
  align-self: center;
}

.start-button {
  align-self: center;
}
