@import "reset_defaults", "header";

.body {
  background-color: #f0ebe3;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.all-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;

  .card-desc {
    text-align: center;
    font-size: 1.6rem;
  }
}

.game-card {
  background-color: #f0ebe3;
  width: 118px;
  height: 136px;
  perspective: 1000px;
}

.card-inner {
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  backface-visibility: hidden;
  position: absolute;
}

.card-back {
  transform: rotateY(180deg);
  text-align: center;
  padding-top: 5px;
}

.card-front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-card.flipped .card-inner {
  transform: rotateY(180deg);
}

.game-card:hover .card-inner {
  box-shadow: #7d9d9c 0px 5px 15px;
}

.card-img {
  width: 98px;
}

.card-img-front {
  width: 98px;
}

.start-button {
  align-self: center;
}

.start-btn {
  margin-top: 20px;
  width: 100px;
  height: 30px;
  border: 1px solid #7d9d9c;
  color: #7d9d9c;
  border-radius: 5px;
  font-size: 1.4rem;
}

.start-btn:hover {
  background-color: #7d9d9c;
  color: #f0ebe3;
  transition: background-color 0.5s;
}
